body {
    background-image: url(fundo.jpg);
    font: normal 15pt Arial;
}

header {
    color: wheat;
    text-align: center;
    text-shadow: 2px 0 0 black, -2px 0 0 black, 0 2px 0 black, 0 -2px 0 black, 1px 1px black, -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black;;
}

section {
    background: wheat;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    color: black;
    text-align: center;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.541);
}

footer {
    color: wheat;
    text-align: center;
    font-style: italic;
    text-shadow: 2px 0 0 black, -2px 0 0 black, 0 2px 0 black, 0 -2px 0 black, 1px 1px black, -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black;;
}
